<footer>
    <div class="region">
        <div id="block_footer_menu" class="block">
            <nav>
                <ul>
                    <li class="first @ViewData["activeHome"]">
                        <a href="/home/index2"><span class="bg">TRANG CHỦ</span></a>
                    </li>
                    <li class="@ViewData["activetintuc"]">
                        <a href="/home/news"><span class="bg">TRUYỀN THÔNG</span></a>
                    </li>
                    <li class="@ViewData["activeContact"]">
                        <a href="/home/contact"><span class="bg">GÓP Ý, PHẢN ÁNH</span></a>
                    </li>
                    <li class="@ViewData["activeTT"]">
                        <a href="javascript:void(0)"><span class="bg">TRA CỨU KẾT QUẢ</span></a>
                    </li>
                    <li class="@ViewData["activeTTQT"]">
                        <a href="/home/ttquantrac"><span class="bg">CHẤT LƯỢNG MÔI TRƯỜNG</span></a>
                    </li>
                    <li class="@ViewData["activeMap"]">
                        <a href="/home/map"><span class="bg">BẢN ĐỒ</span></a>
                    </li>
                    <li class="@ViewData["activeMap"]">
                        <a href="/home/news"><span class="bg">VĂN BẢN</span></a>
                    </li>
                    <li class="@ViewData["activeVBPL"]">
                        <a href="javascript:void(0)"><span class="bg">HƯỚNG DẪN</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="block_copyright" class="block">
            <p>Copyright &copy; 2018 - Cổng Thông tin hai chiều Môi trường - Bộ Tài nguyên và Môi trường</p>
          
            <p>
                Cơ quan chủ quản: TỔNG CỤC MÔI TRƯỜNG</p>
             
            <p>
                Giấy phép số: 153/GP-TTĐT do Bộ Thông tin và Truyền thông cấp ngày 26 tháng 10 năm 2015</p>
         
            <p>
                Người chịu trách nhiệm chính: TS. Nguyễn Văn Tài - Tổng cục trưởng Tổng cục Môi trường</p>
        
            <p>
                Địa Chỉ: Số 10, Tôn Thất Thuyết, Nam Từ Liêm, Hà Nội. Tel: (024) 39424581   Fax: (024) 38223189
            </p>
        </div>
    </div>
</footer>