@model NewsViewModel2
@{
    var data = ViewData["data"];
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <script language="javascript" src="~/js/jquery.cookie.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <!---*** End: JQuery 3.3.1 version. ***--->
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!---*** Start: Bootstrap 3.3.7 version files. ***--->
    <script language="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!---*** End: Bootstrap 3.3.7 version files. ***--->

    <environment include="Development">

        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/common.css" rel="stylesheet" media="all" />
        <link href="~/css/flexslider.css" rel="stylesheet" media="all" />
        <link href="~/css/style.css" rel="stylesheet" media="all" />
        @*<link href="~/css/responsive.css" rel="stylesheet" media="all" />*@
        <link href="~/css/skin.css" rel="stylesheet" media="all" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/lightbox2/dist/css/lightbox.min.css" rel="stylesheet" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    </environment>
    <environment exclude="Development">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/common.css" rel="stylesheet" media="all" />
        <link href="~/css/flexslider.css" rel="stylesheet" media="all" />
        <link href="~/css/style.css" rel="stylesheet" media="all" />
        @*<link href="~/css/responsive.css" rel="stylesheet" media="all" />*@
        <link href="~/css/skin.css" rel="stylesheet" media="all" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/lightbox2/dist/css/lightbox.min.css" rel="stylesheet" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    </environment>

    <link rel="stylesheet" href="~/css/tracuu.css">
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->

    @RenderSection("Styles", required: false)

</head>
<body class="two_sidebars green">
    <!--[if lte IE 8]><div id="ie_message"><div class="wrapper"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="images/banner_ie.png" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div></div><![endif]-->
    <div id="wrapper">
        <!-- header -->
        @Html.Partial("Layout/_Header.cshtml")
        <!-- end header -->
        <!-- end content top -->

        @RenderBody()

        <div id="scroll_to_top_wrapper">
            <div class="wrapper">
                <a href="#" id="scroll_to_top">Lên đầu trang</a>
            </div>
        </div>
        <!-- footer -->
        @Html.Partial("Layout/_Footer.cshtml")
        <!-- end footer -->
    </div>
    <script>
        const appConfig = {};

        //appConfig.apiCdnUrl = "http://localhost:54145";
        //appConfig.apiHostUrl = "http://localhost:50642";
        appConfig.apiCdnUrl = "http://103.9.86.36:8081";
        appConfig.apiHostUrl = "http://103.9.86.36:8080";
        appConfig.current = "http://thongtinhaichieu.vea.gov.vn";
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/home/Scripts.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/jquery-captcha.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ad-gallery.pack.js"></script>
    <script src="~/js/jquery.flexslider-min.js"></script>
    <script src="~/lib/jquery-colorbox/jquery.colorbox-min.js"></script>
    <script src="~/lib/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="http://pagination.js.org/dist/2.1.4/pagination.js"></script>
    <script>
        $(document).ready(function () {
            $("#block_main_menu ul li").hover(
                function () {
                    $(this).addClass("active");
                },
                function () {
                    $(this).removeClass("active");
                }
            );

        });
    </script>
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Tải lên</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Loại bỏ</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img style="width: 200px" src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" target="_blank" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Xóa</span>
                </button>
                {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <script type="text/javascript">
        //if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        //    window.location.href = "http://mthongtinhaichieu.vea.gov.vn";
        //}
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: appConfig.apiHostUrl + "/api/ProcessWorks/city",
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $("#thanhpho").append("<option value='" + response[i].id + "'>" + response[i].name+"</option>")
                    }
                }, error: function (er) {

                }
            });

            $("#thanhpho").change(function () {
                $("#quantp").empty();
                $("#quantp").append("<option selected disabled>--- Lựa chọn quận/huyện ---</option>");
                $("#huyen").empty();
                $("#huyen").append("<option selected disabled>--- Lựa chọn phường xã ---</option>");

                $.ajax({
                    type: "GET",
                    url: appConfig.apiHostUrl + "/api/ProcessWorks/quan/" + $(this).val(),
                    success: function (response) {
                        var districts = response[0].districts;
                        for (var i = 0; i < districts.length; i++) {
                            $("#quantp").append("<option value='" + districts[i].id + "'>" + districts[i].name + "</option>")
                        }
                    }, error: function (er) {

                    }
                });
            })

            $("#quantp").change(function () {
                $("#huyen").empty();
                $("#huyen").append("<option selected disabled>--- Lựa chọn phường xã ---</option>");

                $.ajax({
                    type: "GET",
                    url: appConfig.apiHostUrl +"/api/ProcessWorks/phuong/" + $(this).val() + "/" + $("#thanhpho").val(),
                    success: function (response) {
                        var wards = response.wards;
                        for (var i = 0; i < wards.length; i++) {
                            $("#huyen").append("<option value='" + wards[i].id + "'>" + wards[i].name + "</option>")
                        }
                    }, error: function (er) {

                    }
                });
            })

        });
        var dataNews = @Html.Raw(Json.Serialize(@data));
        $.each(dataNews, function (item , vlue) {
            var date = new Date(vlue.OnCreated).toDateString();
            var time = new Date(vlue.OnCreated).toTimeString()
            var html = '<li class="last"><article><div class="photo"><a href="#"><img src="/images/homes/_MG_4863 sep Thuc.jpg" alt="Photo" /></a></div>';
            html += '<div class="details"><h4 class="title"><a href="#">' + vlue.Abstract + '</a></h4><p class="date"><time datetime="2013-01-29">' + date + '</time>';
            html += '           <span class="comments_count"><a href="#">21</a></span></p></div></article></li>';
            $("#block_popular").append(html);
        });

        var ngNews = {
            formName: 'frm_contact'
        };

        function googleInput() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -33.8688, lng: 151.2195 },
                zoom: 13,
                mapTypeId: 'roadmap'
            });

            var input = document.getElementById('address_map');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length > 0) {
                    $("#lat").val(places[0].geometry.location.lat());
                    $("#lng").val(places[0].geometry.location.lng());
                    var address_map = $("#address_map").val();
                    var html = ' <div style="width: 100%"><iframe id="mapframe" height="280" src = "https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q='+ encodeURI(address_map) +'&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder = "0" scrolling = "no" marginheight = "0" marginwidth = "0" > <a href="https://www.maps.ie/create-google-map/">Add map to website</a></iframe ></div > <br />';
                    $("#mapframe").html(html);
                }
            });
        }
    </script>
    <script type="text/x-kendo-template" id="insertVideo-template">
        <div>
            <label for="videoUrl">Nhập link video từ YouTube:</label>
            <input type="text" id="videoUrl" name="videoUrl" />
            <div class="insertVideo-actions">
                <button class="k-button insertVideo-insert">Chèn video</button>
                <button class="k-button insertVideo-cancel">Hủy bỏ</button>
            </div>
        </div>
    </script>
    <script type="text/x-kendo-template" id="youTube-template">
        <iframe width="200" height="115" src="http://www.youtube.com/embed/#= source #?wmode=opaque&rel=0" frameborder="0"></iframe>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlLvJ9NzDhCd9z-urxEAe83JGCqv1G0TI&libraries=places&callback=googleInput" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=vi" async defer></script>

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js" integrity="sha384-9RnDvEg3yE0DwTGAY34Gze15jSzmr6XlrL5t/fzE2+qNe93kv6fyr3BOAsJIu8yL" crossorigin="anonymous"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js" integrity="sha384-klGuZWTnqB7v2Zy+LDefVRiFX90fVhu5XSs58OioYvF7nGVV4VP91dbUr5e5u4np" crossorigin="anonymous"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js" integrity="sha384-Ruiok12tfp1D6SJw02NyOhoEKZ1oyXvy4/0YfF+K459YJA31h93bS+iOszDHXd8w" crossorigin="anonymous"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <!-- blueimp Gallery script -->
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" integrity="sha384-dCF25SRAwEga8+EATJhluXfC+zve4mtBr9kaZ6rlp0xYbi9zR8PzN29hje8I9L9t" crossorigin="anonymous"></script>

    <script src="~/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="~/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="~/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="~/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="~/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
