<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <environment include="Development">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/common.css" rel="stylesheet" media="all" />
        <link href="~/css/flexslider.css" rel="stylesheet" media="all" />
        <link href="~/css/style.css" rel="stylesheet" media="all" />
        @*<link href="~/css/responsive.css" rel="stylesheet" media="all" />*@
        <link href="~/css/skin.css" rel="stylesheet" media="all" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    </environment>

    <environment exclude="Development">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/common.css" rel="stylesheet" media="all" />
        <link href="~/css/flexslider.css" rel="stylesheet" media="all" />
        <link href="~/css/style.css" rel="stylesheet" media="all" />
        @*<link href="~/css/responsive.css" rel="stylesheet" media="all" />*@
        <link href="~/css/skin.css" rel="stylesheet" media="all" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    </environment>

    <style>
    </style>
    @RenderSection("Styles", required: false)
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body class="right_sidebar blogs green">
    <!--[if lte IE 8]><div id="ie_message"><div class="wrapper"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="images/banner_ie.png" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div></div><![endif]-->
    <div id="wrapper">
        <!-- header -->
        @Html.Partial("Layout/_Header.cshtml")
        <!-- end header -->
        <!-- content top -->
        <div id="container">
            <div class="wrapper">
                <div class="container">
                    <div class="col-md-8 col-sm-12">
                        @RenderSection("Breadcrumb", required: false)
                        @RenderBody()
                    </div>
                    <div class="col-md-4">
                        @Html.Partial("Layout/_Pages.cshtml")
                    </div>
                </div>


                <!-- right sidebar -->
                <!-- end right sidebar -->
            </div>
        </div>
        <!-- end content top -->

        <div id="scroll_to_top_wrapper">
            <div class="wrapper">
                <a href="#" id="scroll_to_top">Lên đầu trang</a>
            </div>
        </div>
        <!-- footer -->
        @Html.Partial("Layout/_Footer.cshtml")
        <!-- end footer -->
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script></script>
        <script src="~/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="~/js/jquery.ad-gallery.pack.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="~/lib/jquery-colorbox/jquery.colorbox-min.js"></script>
        <script src="~/js/custom.js" asp-append-version="true"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script></script>
    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"></script>
        <script></script>
        <script src="~/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="~/js/jquery.ad-gallery.pack.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="~/lib/jquery-colorbox/jquery.colorbox-min.js"></script>
        <script src="~/js/custom.js" asp-append-version="true"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>

        
    </environment>
    <script>
        const appConfig = {};
        //appConfig.apiCdnUrl = "http://cdn.eportal.today";
        //appConfig.apiHostUrl = "http://apinode.eportal.today";

        appConfig.apiCdnUrl = "http://localhost:54145";
        appConfig.apiHostUrl = "http://localhost:50642";
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
@section Scripts {
    <script>
        var detailId = 0;
        function goToDetail(id) {
            detailId = id;
            console.log("view detail news: " + detailId);
        }
    </script>
}