<header>
    <div id="header">
        <div class="wrapper">
            <div class="region">
            </div>
        </div>
    </div>
    <div id="under_header">
        <div class="region">
            <div id="block_main_menu" class="block">
                <div class="inner">
                    <nav>
                        <ul>
                            <li class="first @ViewData["activeHome"]">
                                <a href="/home/index2"><span class="bg">TRANG CHỦ</span></a>
                            </li>
                            <li class="@ViewData["activetintuc"]">
                                <a href="/home/news"><span class="bg">TIN TỨC</span></a>
                            </li>
                            <li class="@ViewData["activeContact"]">
                                <a href="/home/contact"><span class="bg">GÓP Ý, PHẢN ÁNH</span></a>
                            </li>
                            <li class="@ViewData["activeTT"]">
                                <a href="javascript:void(0)"><span class="bg">TRA CỨU KẾT QUẢ</span></a>
                            </li>
                            <li class="@ViewData["activeTTQT"]">
                                <a href="/home/ttquantrac"><span class="bg">THÔNG TIN QUAN TRẮC</span></a>
                            </li>
                            <li class="@ViewData["activeMap"]">
                                <a href="/home/map"><span class="bg">BẢN ĐỒ</span></a>
                            </li>

                            <li class="@ViewData["activeVBPL"]">
                                <a href="javascript:void(0)"><span class="bg">HƯỚNG DẪN</span></a>
                            </li>
                            <li>
                                <div id="block-search-form" style="float: right">
                                    <form method="post" action="#">
                                        <div class="form-type-textfield">
                                            <input type="text" class="form-text" maxlength="128" size="15" value="Search" onblur="if(this.value=='') this.value='Search'" onfocus="if(this.value =='Search' ) this.value=''" />
                                        </div>
                                        <div class="form-actions">
                                            <input type="submit" class="form-submit" value="" />
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>

                    </nav>
                    <div class="responsive-menu-items">
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>